@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}

@media (min-width : 1060px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #131313;
    }   
}


.Container .card {

    align-items: center;
    position: relative;
    width: 320px;
    height: 450px;
    color: white;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0px;
}

.Container {
    margin-left: 40px;
}

.Container .card::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    clip-path: circle(150px at 80% 20%);
    transition: .5s;
}



.one .card::before {
background-color: #9bdc28;
}
.two .card::before {
background-color: #ff6e2e;
}
.three .card::before {
background-color: #ff1708;
}
.four .card::before {
background-color: #153df1;
}
.five .card::before {
background-color: #ff31ef;
}
.six .card::before {
background-color: #2cd1ff;
}

.card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.Container .card::after {
    content: "Nike";
    position: absolute;
    z-index: 0;
    color: rgba(255,255,255,0.04);
    font-size: 12em;
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
    transition: .5s;
    top: 30%;
    left: -15%;
}


.imageBx {
    position: relative;
    width: 100%;
    height: 225px;
}

img {
    position: absolute;
    z-index: 2;
    width: 90%;
    top: 10%;
    transition: .5s;
    transform:  rotate(-25deg) rotateY(180deg);
}



.card:hover .imgBx img {
    top: -10%;
    transform: rotate(-10deg) rotateY(180deg);
  
}

.card:hover .hgreen {
    color: #9bdc28;
    text-shadow: 0px 0px 10px black;
} 
.card:hover .horange {
    color: #ff6e2e;
    text-shadow: 0px 0px 10px black;
} 
.card:hover .hred {
    color: #ff1708;
    text-shadow: 0px 0px 10px black;
} 
.card:hover .hblue {
    color: #153df1;
    text-shadow: 0px 0px 10px black;
} 
.card:hover .hpink {
    color: #ff31ef;
    text-shadow: 0px 0px 10px black;
} 
.card:hover .haqua {
    color: #2cd1ff;
    text-shadow: 0px 0px 10px black;
} 


.contentBx {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    z-index: 4;
    transition: .5s;
}

.contentBx h3 {
    font-size: 3.2em;
}



.card:hover .contentBx {
    top: 45%;
    
}

.contentBx h4 {
    text-transform: uppercase;
    font-size: 1.5em;
    


}

label {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background-color: white;
    color: black;
    display: inline-block;
    transition: .5s;
    margin: 5px;
}

.size {
    margin-top: 200px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizes {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}





.gr:hover {
background-color: #9bdc28;
transform: scale(1.1);
}
.or:hover {
background-color: #ff6e2e;
transform: scale(1.1);
}
.re:hover {
background-color: #ff1708;
transform: scale(1.1);
}
.bl:hover {
background-color: #153df1;
transform: scale(1.1);
}
.pi:hover {
background-color: #ff31ef;
transform: scale(1.1);
}
.aq:hover {
background-color: #2cd1ff;
transform: scale(1.1);
}



.buyBox {
    width: 250px;
    margin-top: 30px;
    border: 2px solid white;
    padding: 3px 8px;
    border-radius: 30px;
    background-color: white;
    transition: 1s;

}

.buyBox a {
    
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #232323;


}

.buyBox:hover {
    border-radius: 50px;
    transform: scale(1.1);
}


.card:hover .size {
    margin-top: 0px;
}





